EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_OPENWEATHER_API_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=155277061002-f2vprdqfu2aam774htfr2g7s8a4ufvk4.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=155277061002-dnr34ehc7tm7p8bug5ua7v3sqpk9g8re.apps.googleusercontent.com
